* {
  margin: 0;
  padding: 0;
}

.container {
  width: 100%;
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 1.5em;
}

@media only screen and (min-width: $breakpoint-large-mobile) {
  .container {
    padding: 0 3em;
  }
}

@media only screen and (min-width: $breakpoint-small-desktop) {
  .container {
    padding: 0 4.5em;
  }
}
