html {
  font-family: $font-family;
  font-size: $font-default-size;
  font-weight: $font-weight-default;
  word-spacing: 1px;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  box-sizing: border-box;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: $font-weight-bold;
}

.title {
  font-size: $font-title-mobile;
}

.small-title {
  font-size: $font-small-title-mobile;
}

.paragraph {
  font-size: $font-paragraph-mobile;
  margin-bottom: 0.75rem;
}

.small-paragraph {
  font-size: $font-small-paragraph-mobile;
}

.link {
  text-decoration: underline;
  color: $link-color;

  &:hover {
    color: $link-color-hover;
  }
}

@media only screen and (min-width: $breakpoint-small-desktop) {
  .title {
    font-size: $font-title;
  }

  .small-title {
    font-size: $font-small-title;
  }

  .paragraph {
    font-size: $font-paragraph;
  }

  .small-paragraph {
    font-size: $font-small-paragraph;
  }
}
