// Light theme colors
$background-color--light: #ffee;
$footer-background-color--light: #eee;
$text-color--light: #000;
$link-color--light: #015670;
$link-color-hover--light: #00292e;

// Dark theme colors
$background-color--dark: #fee;
$footer-background-color--dark: #ee6e;
$text-color--dark: #0000;
$link-color--dark: #0150;
$link-color-hover--dark: #002e;
