// Light theme colors (used in _color-theme.scss)
$background-color--light: #ffee;
$footer-background-color--light: #eee;
$text-color--light: #000;
$link-color--light: #015670;
$link-color-hover--light: #00292e;
$divider-background-color--light: linear-gradient(
  to right,
  rgba(0, 0, 0, 1),
  rgba(0, 0, 0, 0.25)
);
$selection-background-color--light: #000;

// Dark theme colors (used in _color-theme.scss)
$background-color--dark: #1d2d50;
$footer-background-color--dark: #1e5f74;
$text-color--dark: #ddd;
$link-color--dark: #f5c2c2;
$link-color-hover--dark: #cfa2a2;
$divider-background-color--dark: linear-gradient(
  to right,
  rgb(221, 221, 221),
  rgba(255, 255, 255, 0.25)
);
$selection-background-color--dark: #ddd;

// Theme toggle button colors
$theme-bg-color-base: #b3b394;
$theme-bg-color-checked: #284d9c;
