// Font family
$font-family: 'Titillium Web', sans-serif;

// Font weight
$font-weight-default: 400;
$font-weight-bold: 600;

// Font size
$font-default-size: 16px;
$font-site: 5em;
$font-site-mobile: 4em;
$font-title: 3em;
$font-title-mobile: 2.75em;
$font-small-title: 2em;
$font-small-title-mobile: 1.75em;
$font-paragraph: 1.5em;
$font-paragraph-mobile: 1.25em;
$font-small-paragraph: 1.25em;
$font-small-paragraph-mobile: 1em;
